:root {
  --modal-bg-color: #ffffff;
  --modal-padding: 12px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.Modal.open {
  display: block;
}

.Modal.close {
  display: none;
}

.Modal-content {
  position: fixed;
  background: var(--modal-bg-color);
  width: 30%;
  height: auto;
  top: 40%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%,-50%);
}

.Modal-content-header {
  position: relative;
  padding: var(--modal-padding);
  height: 46px;
  border-bottom: 1px solid #e0e0e0;
}

.Modal-content-header span {
  font-size: 1rem;
  font-weight: bold;
}

.Modal-content-body {
  padding: calc(2 * var(--modal-padding)) var(--modal-padding);
}

.Modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: var(--modal-padding);
  right: var(--modal-padding);
}

.Modal-close:hover {
  cursor: pointer;
}

.Modal-close-icon {
  width: 22px;
  height: 22px;
}

@media only screen and (max-width: 425px) {
  .Modal-content {
    width: 80%;
  }
}

@media (min-width: 425.2px) and (max-width: 768px) {
  .Modal-content {
    width: 60%;
  }
}

@media (min-width: 768.2px) and (max-width: 992px) {
  .Modal-content {
    width: 50%;
  }
}