:root {
  --btn-bg-color: #fbfbfb;
  --btn-bg-hovered-color: #f3f3f3;
  --btn-outline-color: #d2d2d2;
  --btn-box-shadow-color: #e2e2e2;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bg-color);
}

.App-has-error {
  color: var(--error-color);
}

.App-setting-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}

.App-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 0;
  color: var(--primary-text-color);
  background: var(--btn-bg-color);
  cursor: pointer;
  font-size: 0.85rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  appearance: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px .5px 3px var(--btn-box-shadow-color);
  transition: background 250ms ease-in-out;
}

.App-button:hover,
.App-button:focus {
  background: var(--btn-bg-hovered-color);
}

.App-button:focus {
  outline: 1px dotted var(--btn-outline-color);
  outline-offset: -4px;
}

.App-button-icon {
  width: 20px;
  height: 20px;
}

.App-hero-form {
  display: flex;
  align-items: center;
}

.App-hero-form > * {
  height: 30px;
  font-size: 0.85rem;
}

.App-hero-input {
  flex-grow: 3;
  margin-right: 12px;
  padding: 10px;
  vertical-align: middle;
  appearance: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.App-hero-button {
  flex-grow: 1;
}

@media only screen and (max-width: 425px) {
  .App-setting-bar {
    padding: 10px;
  }

  .App-button-icon {
    width: 18px;
    height: 18px;
  }
}